.container{
    max-width: 1300px;
    width: 100%;
    margin-top: 100px;
    border-radius: 20px;
    background-image: url(./bg.png);
    background-repeat: no-repeat;
}

@media (max-width: 923px) {
    .container{
        background-image: url(./bgMobile.png);
        max-width: 332px;
        margin: 60px auto 0 auto;
    }
}

.my_carousel button[data-bs-target]{
    margin: 0 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #547147;
    opacity: 1;
    margin-bottom: 6rem;
}
.my_carousel button[aria-current="true"] {
    background-color: #547147;
}

@media (max-width: 1224px) {
    .my_carousel button[data-bs-target]{
        margin-bottom: 4rem;
    }
}
@media (max-width: 1136px) {
    .my_carousel button[data-bs-target]{
        margin-bottom: 1rem;
    }
}
@media (max-width: 923px) {
    .my_carousel button[data-bs-target]{
        margin-bottom: 19rem;
    }
}
@media (max-width: 351px) {
    .my_carousel button[data-bs-target]{
        margin-bottom: 17rem;
    }
}