.myModal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.myModalContent{
    margin: auto;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 20px;
    opacity: 10;
}

.myModal.active{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}